node_modules
pnpm-lock.yaml
package-lock.json
yarn.lock

.vscode
.idea
.next

out
dist
build

.env
.env.local
.env.production
.env.development
/Users/putrasatria/Documents/project/tandigital/next-boilerplate/commitlint.config.mjs
.cache
.turbo
*.log

coverage
public
